html, body {
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: sans-serif;
    zoom: 250%;
    min-zoom: 150%;
    max-zoom: 350%;
}

canvas {
    display: block;
}

html, p {
    color: aqua;
}

html, t {
    resize: both;
}